<h1 class="home-title">Student web portal app</h1>
<div class="flex-wrapper">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="subject-header-image"></div>
      <mat-card-title>Subjects</mat-card-title>
      <mat-card-subtitle>Manage subjects</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
      <p>
        Manage the universitiy subjects, create new subjects and delete the existing ones, or change the existing ones
        that are on the system.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button color="primary" routerLink="/subject-list" class="btn btn-primary">Subject panel</a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="professor-header-image"></div>
      <mat-card-title>Professors</mat-card-title>
      <mat-card-subtitle>Manage professors</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
      <p>
        Manage the universitiy professors, add new professors and remove the existing ones, or change the existing ones
        that are on the system.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button color="primary" routerLink="/professor" class="btn btn-primary">Professor panel</a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="student-header-image"></div>
      <mat-card-title>Studens</mat-card-title>
      <mat-card-subtitle>Manage students</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
      <p>
        Manage the universitiy stuents, add new students and remove the existing ones, or change the existing ones
        that are on the system.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button color="primary" routerLink="/student" class="btn btn-primary">Student panel</a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="exam-period-header-image"></div>
      <mat-card-title>Exam periods</mat-card-title>
      <mat-card-subtitle>Manage exam periods</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
      <p>
        Manage the universitiy exam periods, create new exam periods and remove the existing ones, or change the
        existing
        ones
        that are on the system.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button color="primary" routerLink="/exam-period" class="btn btn-primary">Exam period panel</a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="exam-header-image"></div>
      <mat-card-title>Exams</mat-card-title>
      <mat-card-subtitle>Manage exams</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
      <p>
        Manage the universitiy exams, create new exams and delete the existing ones, or change the existing ones
        that are on the system.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button color="primary" routerLink="/exam" class="btn btn-primary">Exam panel</a>
    </mat-card-actions>
  </mat-card>
</div>
<!-- <div>
  <a mat-raised-button color="primary" routerLink="/subject-list" class="btn btn-primary">Subject panel</a>
</div> -->
<!-- <div>
  <a mat-raised-button color="primary" routerLink="/professor" class="btn btn-primary">Professor panel
  </a>
</div>
<div>
  <a mat-raised-button color="primary" routerLink="/student" class="btn btn-primary">Student panel
  </a>
</div>
<div>
  <a mat-raised-button color="primary" routerLink="/exam-period" class="btn btn-primary">Exam-period panel
  </a>
</div>
<div>
  <a mat-raised-button color="primary" routerLink="/exam" class="btn btn-primary">Exam panel
  </a>
</div> -->