<h1 class="home-title">Student web portal</h1>
<div>
  <a mat-raised-button color="primary" routerLink="/subject-list" class="btn btn-primary">Subject panel</a>
</div>
<div>
  <a mat-raised-button color="primary" routerLink="/professor" class="btn btn-primary">Professor panel
    panel</a>
</div>
<div>
  <a mat-raised-button color="primary" routerLink="/student" class="btn btn-primary">Student panel
    panel</a>
</div>
<div>
  <a mat-raised-button color="primary" routerLink="/exam-period" class="btn btn-primary">Exam-period panel
    panel</a>
</div>
<div>
  <a mat-raised-button color="primary" routerLink="/exam" class="btn btn-primary">Exam panel
    panel</a>
</div>
