table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.list-container {
  margin: 2%;
}

.list-container__btn-add {
  margin: 10px 0;
  margin-left: auto;
}

.list-container__search {
  width: 88%;
}

td,
th {
  width: 25%;
}
