<h1>Student Details</h1>
<div class="detail-element">Id: </div>
<div>{{ this.student.id }}</div>
<div class="detail-element">First name: </div>
<div>{{ this.student.firstName }}</div>
<div class="detail-element">Last name: </div>
<div>{{ this.student.lastName }}</div>
<div class="detail-element">Email: </div>
<div>{{ this.student.email }}</div>
<div class="detail-element">Address: </div>
<div>{{ this.student.address }}</div>
<div class="detail-element">City: </div>
<div>{{ this.student.city }}</div>
<div class="detail-element">Index number: </div>
<div>{{ this.student.indexNumber }}</div>
<div class="detail-element">Current year of study: </div>
<div>{{ this.student.currentYearOfStudy }}</div>
<div class="detail-element">Index year: </div>
<div>{{ this.student.indexYear }}</div>