<h1>City list:</h1>
<Button label="Add New City" class="p-button-rounded" />
<Button label="Edit City" class="p-button-rounded" />
<div class="table">
  <DataTable :value="cities" :paginator="true" :rows="2"
    paginatorTemplate="CurrentPageReport FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink RowsPerPageDropdown"
    :rowsPerPageOptions="[2,5,10]" responsiveLayout="scroll">
    <Column field="postalCode" header="Code"></Column>
    <Column field="name" header="Name"></Column>
    <Column><Button label="Delete" @click="console.log(row)" /></Column>
    <template #paginatorLeft>
      <Button type="button" icon="pi pi-refresh" class="p-button-text" />
    </template>
    <template #paginatorRight>
      <Button type="button" icon="pi pi-cloud" class="p-button-text" />
    </template>
  </DataTable>
</div>