<h1>Subject Details</h1>
<div class="detail-element">Id: </div>
<div>{{ this.subject.id }}</div>
<div class="detail-element">Name: </div>
<div>{{ this.subject.name }}</div>
<div class="detail-element">Description: </div>
<div>{{ this.subject.description }}</div>
<div class="detail-element">NoOfEsp: </div>
<div>{{ this.subject.noOfEsp }}</div>
<div class="detail-element">YearOfStudy: </div>
<div>{{ this.subject.yearOfStudy }}</div>
<div class="detail-element">Semester: </div>
<div>{{ this.subject.semester }}</div>
