<h1>Professor Details</h1>
<div class="detail-element">Id: </div>
<div>{{ this.professor.id }}</div>
<div class="detail-element">First name: </div>
<div>{{ this.professor.firstName }}</div>
<div class="detail-element">Last name: </div>
<div>{{ this.professor.lastName }}</div>
<div class="detail-element">Email: </div>
<div>{{ this.professor.email }}</div>
<div class="detail-element">Address: </div>
<div>{{ this.professor.address }}</div>
<div class="detail-element">City: </div>
<div>{{ this.professor.city }}</div>
<div class="detail-element">Phone: </div>
<div>{{ this.professor.phone }}</div>
<div class="detail-element">Reelection date: </div>
<div>{{ this.professor.reelectionDate }}</div>
<div class="detail-element">Title: </div>
<div>{{ this.professor.title }}</div>
<!-- <div class="detail-element">Subjects: </div> -->
<!-- <div>{{ this.professor.subjects }}</div> -->