<mat-dialog-content>
  <div class="dialogHeader">
    <h2 mat-dialog-title style="display: inline-block;">{{ this.title }}</h2>
    <button mat-icon-button style="display: inline-block; float: right;" color="primary" (click)='this.closePopup()'>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <form class="subject-add" [formGroup]="subjectAddForm" (ngSubmit)="saveSubject()">
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td colspan="3">
          <mat-form-field class="example-full-width">
            <mat-label>Name*:</mat-label>
            <input matInput formControlName="name" type="text">
            <mat-error *ngIf="name.invalid &&  name.touched">
              Name is required
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <p>
            <mat-form-field class="example-full-width">
              <mat-label>Description</mat-label>
              <textarea matInput formControlName="description" placeholder="" w="description"></textarea>
            </mat-form-field>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="subject-add__year">
            <mat-label>Year of study*</mat-label>
            <input matInput placeholder="Eg. 1, 2, 3..." formControlName="yearOfStudy" [maxLength]="1" pattern="\d*">
            <mat-error *ngIf="yearOfStudy.invalid &&  yearOfStudy.touched">
              Year of study is required
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="subject-add__esp">
            <mat-label>Number of ESP*</mat-label>
            <input matInput placeholder="Eg. 1 - 9" formControlName="noOfEsp" [maxLength]="1" pattern="\d*">
            <mat-error *ngIf="noOfEsp.invalid &&  noOfEsp.touched">
              Number of esp is required
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="standard" class="subject-add__semester">
            <mat-label>Choose one</mat-label>
            <mat-select formControlName="semester" [errorStateMatcher]="matcher">
              <mat-option value="Summer">Summer</mat-option>
              <mat-option value="Winter">Winter</mat-option>
            </mat-select>
            <mat-hint>Select a semester*</mat-hint>
            <mat-error *ngIf="semester.hasError('required')">You must make a selection</mat-error>
            <mat-error *ngIf="semester.hasError('pattern') && !semester.hasError('required')">
              Your selection is invalid
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <span class="subject-add__required">* Required</span>
    <span style="display:inline-block" class="subject-add__btn-save" fxLayoutAlign="end center">
      <button mat-raised-button color="primary" (click)='this.saveSubject()'
        [disabled]="subjectAddForm.invalid">Save</button>
    </span>
  </form>
</mat-dialog-content>